<div class="row">
<div class="span10 offset2">

<script type="text/javascript"><!--
google_ad_client = "ca-pub-5857654019421146";
/* glavcoupon.ru */
google_ad_slot = "2512176935";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

</div>
</div> 


