<script language="JavaScript" type="text/javascript">(function(){var p='';var mbb={div_id:'myragon_rotator_3736_'+Math.random(),
mn_promo_site_id:'8378',ban_id:'13721',cid:'37368083504c556a020afed4b743d67e',
size:'240x400',/*размер баннера*/
sa:'', /*субаккаунт*/
tag:'' /*тэг*/
};
for (var i in mbb) p+=i+'='+mbb[i]+'&';var mb=document.createElement('script');mb.type='text/javascript';mb.async=true;
mb.src='http://a46.myragon.ru/banners.php?'+p;var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(mb,s);
document.write('<div id="'+mbb['div_id']+'"></div>');})();</script>