/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 body {
   padding-top: 5px !important; 
   /*background-color: #89B556 !important;*/
   background-color: rgba(137, 181, 86,1) !important;

 }
 h1,h2,h3{
   color: rgb(248, 238, 178);
   margin-top: 5px !important;
   margin-bottom: 5px !important;
 }


.top_menu {
  clear: both;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
.topspaser{
	height: 40px;
}

#login_cover{
  visibility: hidden;
}
