// Place all the styles related to the deals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#text_field{
	width: 925px !important;
	height: 400px !important;
}
#title_field,#shortdescription_field{
	 width: 725px !important;
}